@use "assets/scss/variables" as v;
@use "assets/scss/mixins" as m;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: v.$color-bg;
    font-family: v.$font-family;
}
a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.gradient-text {
    @include m.gradient-text;
}
.flex {
    display: flex;
}