@use "variables" as v;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: v.$color-bg;
    font-family: v.$font-family;
}
a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.gradient-text {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.flex {
    display: flex;
}