@use "assets/scss/variables" as v;
@use "assets/scss/mixins/colors" as c;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: v.$color-bg;
    font-family: v.$font-family;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.gradient__text {
    @include c.gradient-text;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

#blur-01 {
    border-radius: 1013px;
    width: 1013px;
    height: 1013px;
    position: absolute;
    top: -500px;
    left: -400px;
    z-index: -2;
    background: radial-gradient(circle at 50% 50%, rgba(0, 40, 83, 0.5) 0%, rgb(4 12 24 / 0%) 70%);
}

#blur-02 {
    border-radius: 701px;
    width: 701px;
    height: 701px;
    position: absolute;
    top: auto;
    left: auto;
    right: -300px;
    bottom: -235px;
    z-index: -2;
    background: radial-gradient(circle at 50% 50%, rgba(0, 40, 83, 0.5) 0%, rgb(4 12 24 / 0%) 70%);
}
#blur-03 {
    border-radius: 777px;
    width: 777px;
    height: 777px;
    position: absolute;
    top: auto;
    right: auto;
    left: -400px;
    bottom: -100px;
    z-index: -2;
    background: radial-gradient(circle at 50% 50%, rgba(0, 40, 83, 0.5) 0%, rgb(4 12 24 / 0%) 70%);
}

@-webkit-keyframes animation-scale-half-to-full {
    from {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes animation-scale-half-to-full {
    from {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}