.header__banner {
    position: relative;
}
.header__banner-title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    max-width: 614px;
}
.header__banner-para {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    max-width: 554px;
    padding: 2.75rem 0 2.5rem;
}
form#request-access input[type=email] {
    width: 456px;
    height: 73px;
    background: #052D56;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    line-height: 27px;
    color: #3D6184;
    padding: 1.5rem 2rem;
}
form#request-access button[type=submit] {
    width: 174px;
    height: 73px;
    background: #FF4820;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.header__banner-people {
    padding-top: 2.5rem;
    align-items: center;
}
.header__banner-people p {
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #FFFFFF;
    margin-left: 1.5rem;
}
.header__banner-image img {
    position: absolute;
    right: -105px;
    top: -85px;
    max-width: 650px;
}